.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    background-color: #d1d1d1;
}

button,
input {
    padding: 10px;
    border: none;
    font-size: 20px;
    margin: 10px;
    font-weight: 700;
}

input:focus {
    outline: none;
}

#displayPlayerCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
#showDetails{
    width: 100%;
}
.stylePlayers,
.singlePlayer {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.stylePlayers img {
    width: 100%;
}
.singlePlayer img {
    width: 50%;
    margin: 0px auto;
}

